<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CargoTaxi - My cars</title>

    <!-- Bootstrap Core CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/resources/css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div th:replace="fragments/menu :: menu"></div>

        <div class="col-md-9">

            <div class="thumbnail">
                <h3><span th:text="#{car.new.title}"/></h3>
                <div class="caption-full">

                    <form class="form-horizontal" id="carform"
                          th:action="@{user/cars}">

                        <dl th:each="executor : ${executors}">
                            <dt th:text="${'login : '+executor.login}"></dt>
                            <dt th:text="${'email : '+executor.email}"></dt>
                            <dt>Avto :</dt>
                            <dd th:each="car : ${executor.cars}">
                                <ul>
                                    <li th:text="${'description : '+car.description}"></li>
                                    <li th:text="${'location : '+car.location}"></li>
                                    <li th:text="${'type : '+car.car.carType.type}"></li>
                                    <li th:text="${'load : '+car.car.load}"></li>
                                    <li th:text="${'capacity : '+car.car.capacity}"></li>
                                    <li th:if="${car.offers != null}">
                                        <ul th:each="offer : ${car.offers}">
                                            <li th:text="${'price : '+offer.price}"></li>
                                            <li th:text="${'description : '+offer.description}"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </dd>
                        </dl>

                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer">
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/resources/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/js/bootstrap.min.js"></script>

</body>

</html>
