<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CargoTaxi - Main page</title>

    <!-- Bootstrap Core CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/resources/css/shop-item.css" rel="stylesheet">
    <link href="/resources/css/car-find.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div th:replace="fragments/menu :: menu"></div>

        <div class="col-md-9">

            <div class="thumbnail">
                <h3><span th:text="#{find.executor.title}"/></h3>
                <div class="caption-full">

                    <div class="form-section">

                        <form th:action="@{find-all}" th:object="${findCarDTO}">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only"
                                               for="carType"><span th:text="#{find.executor.form.carType}"/></label>
                                        <select id="carType" name="id" th:field="*{carTypeId}"
                                                class="input-md form-control" style="margin-bottom:10px">
                                            <option th:value="#{car.type.select.all.value}"
                                                    th:text="#{car.type.select.all.text}"></option>
                                            <option th:each="carType : ${carTypes}"
                                                    th:value="${carType.id}"
                                                    th:text="${carType.type}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only" for="minCapacity"><span
                                                th:text="#{find.executor.form.minCapacity}"/></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="minCapacity" name="minCapacity"
                                                   th:placeholder="#{find.executor.form.minCapacity}"
                                                   th:field="*{minCapacity}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only" for="minLoad"><span
                                                th:text="#{find.executor.form.minLoad}"/></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="minLoad" name="minLoad"
                                                   th:placeholder="#{find.executor.form.minLoad}"
                                                   th:field="*{minLoad}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only" for="minPrice"><span
                                                th:text="#{find.executor.form.minPrice}"/></label>
                                        <input type="text" class="form-control" id="minPrice" name="minPrice"
                                               th:placeholder="#{find.executor.form.minPrice}" th:field="*{minPrice}"/>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only" for="dislocation"><span
                                                th:text="#{find.executor.form.dislocation}"/></label>
                                        <input type="text" class="form-control" id="dislocation"
                                               name="dislocation" th:placeholder="#{find.executor.form.dislocation}"
                                               th:field="*{dislocation}"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only" for="maxCapacity"><span
                                                th:text="#{find.executor.form.maxCapacity}"/></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="maxCapacity" name="maxCapacity"
                                                   th:placeholder="#{find.executor.form.maxCapacity}"
                                                   th:field="*{maxCapacity}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only" for="maxLoad"><span
                                                th:text="#{find.executor.form.maxLoad}"/></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="maxLoad" name="maxLoad"
                                                   th:placeholder="#{find.executor.form.maxLoad}"
                                                   th:field="*{maxLoad}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only" for="maxPrice"><span
                                                th:text="#{find.executor.form.maxPrice}"/></label>
                                        <input type="text" class="form-control" id="maxPrice" name="maxPrice"
                                               th:placeholder="#{find.executor.form.maxPrice}" th:field="*{maxPrice}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-default btn-primary"
                                            name="Find"
                                            th:value="#{find.executor.form.button}">
                                        <span th:text="#{find.executor.form.button}"/>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!--</div>-->
                    </div>


                    <dl th:each="executor : ${executors}">
                        <dt th:text="${'login : '+executor.login}"></dt>
                        <dt th:text="${'email : '+executor.email}"></dt>
                        <dt>Avto :</dt>
                        <dd th:each="car : ${executor.cars}">
                            <ul>
                                <li th:text="${'description : '+car.description}"></li>
                                <li th:text="${'location : '+car.location}"></li>
                                <li th:text="${'type : '+car.car.carType.type}"></li>
                                <li th:text="${'load : '+car.car.load}"></li>
                                <li th:text="${'capacity : '+car.car.capacity}"></li>
                                <li th:if="${car.offers != null}">
                                    <ul th:each="offer : ${car.offers}">
                                        <li th:text="${'price : '+offer.price}"></li>
                                        <li th:text="${'description : '+offer.description}"></li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer">
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/resources/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/js/bootstrap.min.js"></script>

</body>

</html>
