<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CargoTaxi - Register new user</title>

    <!-- Bootstrap Core CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/resources/css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/resources/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/resources/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="row">

        <div th:replace="fragments/menu :: menu"></div>

        <div class="col-md-9">

            <div class="thumbnail">
                <h3><span th:text="#{reg.new.user.title}"/></h3>
                <span th:if="${result != null}" th:text="#{${result}}" style="color:red; font-weight: bold"/>
                <div class="caption-full">
                    <form class="form-horizontal" id="carform"
                          th:action="@{signup}" th:object="${newUserDTO}"
                          method="post" enctype="utf8">

                        <div id="div_id_login" class="form-group required">
                            <label for="id_login" class="control-label col-md-4  requiredField"><span
                                    th:text="#{reg.new.user.login}"/></label>
                            <div class="controls col-md-8 ">
                                <input class="input-md textInput form-control" id="id_login"
                                       name="login" style="margin-bottom: 10px"
                                       type="text" th:field="*{login}"/>
                            </div>
                        </div>
                        <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"><span
                                    th:text="#{reg.new.user.email}"/></label>
                            <div class="controls col-md-8 ">
                                <input class="input-md textInput form-control" id="id_email"
                                       name="email" style="margin-bottom: 10px"
                                       type="text" th:field="*{email}"/>
                            </div>
                        </div>

                        <div id="div_id_phones" class="form-group required">
                            <label for="submit-id-new-phone"
                                   class="control-label col-md-4  requiredField"><span th:text="#{reg.new.user.phones}"/></label>
                            <div class="controls col-md-8 ">
                                <input type="submit" name="addPhone" th:value="#{reg.new.user.phone.add}"
                                       class="btn btn-primary btn btn-info"
                                       style="vertical-align:baseline; background-color:#286090"
                                       id="submit-id-new-phone"/>
                            </div>
                        </div>
                        <div th:each="number,phoneStat : *{phones}" class="form-group required">
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8 ">
                                <input type="text" class="input-md textInput form-control"
                                       style="display:inline; width:auto"
                                       th:field="*{phones[__${phoneStat.index}__].number}"/>

                                <button type="submit" name="removePhone"
                                        class="btn btn-primary btn btn-info"
                                        style="vertical-align:baseline; background-color:#286090"
                                        th:value="${phoneStat.index}"><span th:text="#{reg.new.user.phone.remove}"/>
                                </button>
                            </div>
                        </div>

                        <div id="div_id_password" class="form-group required">
                            <label for="id_password" class="control-label col-md-4  requiredField"><span
                                    th:text="#{reg.new.user.password}"/></label>
                            <div class="controls col-md-8 ">
                                <input class="input-md textInput form-control" id="id_password"
                                       name="password" style="margin-bottom: 10px"
                                       type="password" th:field="*{password}"/>
                            </div>
                        </div>
                        <div id="div_id_matching-password" class="form-group required">
                            <label for="id_matching-password" class="control-label col-md-4  requiredField"><span
                                    th:text="#{reg.new.user.confirm_password}"/>
                            </label>
                            <div class="controls col-md-8 ">
                                <input class="input-md textInput form-control" id="id_matching-password"
                                       name="matching-password" style="margin-bottom: 10px"
                                       type="password" th:field="*{matchingPassword}"/>
                                <p th:each="error: ${#fields.errors('matchingPassword')}"
                                   th:text="${error}">Validation error</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8 ">
                                <input type="submit" name="Signup" th:value="#{reg.new.user.signup}" class="btn btn-primary btn btn-info"
                                       id="submit-id-signup"/>
                            </div>
                        </div>

                        <ul>
                            <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                                <span th:text="${e.message}">The error message</span>
                            </li>
                        </ul>

                    </form>

                </div>
            </div>

        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer">

</body>
</html>