<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CargoTaxi - Edit car</title>

    <!-- Bootstrap Core CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/resources/css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div th:replace="fragments/menu :: menu"></div>

        <div class="col-md-9">

            <div class="thumbnail">
                <h3><span th:text="#{my.car.edit.title}"/></h3>
                <div class="caption-full">

                    <form class="form-horizontal" id="carform"
                          action="/user/car/saveChange" th:object="${car}"
                          method="post">

                        <input type="hidden" name="userId" th:field="*{userId}"/>
                        <input type="hidden" name="userCarId" th:field="*{userCarId}"/>

                        <div id="div_id_car-type" class="form-group required">
                            <label for="id_car-type" class="control-label col-md-4  requiredField"> <span
                                    th:text="#{car.new.car.type}"/> </label>
                            <div class="controls col-md-8 ">
                                <select id="id_car-type" name="id" form="carform" th:field="*{carTypeId}"
                                        class="input-md
                                 form-control" style="margin-bottom:10px">
                                    <option th:each="carType : ${carTypes}"
                                            th:value="${carType.id}"
                                            th:text="${carType.type}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div id="div_id_description" class="form-group required">
                            <label for="id_description" class="control-label col-md-4  requiredField"><span
                                    th:text="#{car.new.car.description}"/></label>
                            <div class="controls col-md-8 ">
                                <input class="input-md textInput form-control" id="id_description"
                                       name="description" style="margin-bottom: 10px"
                                       type="text" th:field="*{description}"/>
                            </div>
                        </div>

                        <div id="div_id_location" class="form-group required">
                            <label for="id_location" class="control-label col-md-4  requiredField"><span
                                    th:text="#{car.new.car.location}"/></label>
                            <div class="controls col-md-8 ">
                                <input class="input-md textInput form-control" id="id_location"
                                       name="location" style="margin-bottom: 10px"
                                       type="text" th:field="*{location}"/>
                            </div>
                        </div>

                        <div id="div_id_capacity" class="form-group required">
                            <label for="id_capacity" class="control-label col-md-4  requiredField"><span
                                    th:text="#{car.new.car.capacity}"/></label>
                            <div class="controls col-md-8 ">
                                <input class="input-md textInput form-control" id="id_capacity"
                                       name="capacity" style="margin-bottom: 10px"
                                       type="text" th:field="*{capacity}"/>
                            </div>
                        </div>

                        <div id="div_id_load" class="form-group required">
                            <label for="id_load" class="control-label col-md-4  requiredField"><span
                                    th:text="#{car.new.car.load}"/></label>
                            <div class="controls col-md-8 ">
                                <input class="input-md textInput form-control" id="id_load"
                                       name="load" style="margin-bottom: 10px"
                                       type="text" th:field="*{load}"/>
                            </div>
                        </div>

                        <div class="thumbnail" style="padding:10px">
                            <div id="div_id_offers" class="form-group required">
                                <label for="submit-id-new-offer"
                                       class="control-label col-md-4  requiredField"><span
                                        th:text="#{car.new.offers.title}"/> : </label>
                                <div class="controls col-md-8 ">
                                    <input type="submit" name="addOffer" th:value="#{car.new.offer.add}"
                                           class="btn btn-primary btn btn-info"
                                           style="vertical-align:baseline; background-color:#286090"
                                           id="submit-id-new-offer"/>
                                </div>
                            </div>

                            <div th:each="offer,offerStat : *{offers}" class="form-group required thumbnail"
                                 style="margin:10px; padding:10px">

                                <div class="form-group required">
                                    <label class="control-label col-md-4  requiredField"><span
                                            th:text="#{car.new.offer.price}"/></label>
                                    <div class="controls col-md-8 ">
                                        <input type="text" class="input-md textInput form-control"
                                               style="display:inline; width:auto"
                                               th:field="*{offers[__${offerStat.index}__].price}"/>
                                        <button type="submit" name="removeOffer"
                                                class="btn btn-primary btn btn-info"
                                                style="vertical-align:baseline; background-color:#286090"
                                                th:value="${offerStat.index}"><span th:text="#{car.new.offer.remove}"/>
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="control-label col-md-4  requiredField"><span
                                            th:text="#{car.new.offer.description}"/></label>
                                    <div class="controls col-md-7 ">
                                        <input type="text" class="input-md textInput form-control"
                                               style="margin-bottom: 10px"
                                               th:field="*{offers[__${offerStat.index}__].description}"/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8 ">
                                <input type="submit" name="submit_new_car" th:value="#{my.car.edit.button.save}"
                                       class="btn btn-primary btn btn-info"
                                       id="submit_new_car_id"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer">
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/resources/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/js/bootstrap.min.js"></script>

</body>

</html>
