<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/shop-item.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="col-md-3" th:fragment="menu">
    <p class="lead"><span th:text="#{menu.name}"/></p>
    <div class="list-group">
        <span th:text="#{menu.customer.title}"/>
        <a href="#"
           class="list-group-item"><span
                th:text="#{menu.customer.new_order}"/></a>
        <a href="/executor/find-all" class="list-group-item"><span
                th:text="#{menu.customer.find_executor}"/></a>
        <a href="#" class="list-group-item"><span
                th:text="#{menu.customer.list_orders}"/></a>
    </div>
    <div  class="list-group">
        <span th:text="#{menu.executor.title}"/>
        <a href="#" class="list-group-item"><span
                th:text="#{menu.executor.new_offer}"/></a>
        <a href="#" class="list-group-item"><span
                th:text="#{menu.executor.find_job}"/></a>
        <a href="/car/new" class="list-group-item"><span
                th:text="#{menu.executor.new_car}"/></a>
        <a href="/user/cars" class="list-group-item"><span
                th:text="#{menu.executor.my_cars}"/></a>
    </div>
</div>

<!-- jQuery -->
<script src="/resources/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/js/bootstrap.min.js"></script>

</body>

</html>
